body {
  font-family: arial, sans-serif;
}

h1 {
  color: #878787;
  line-height: 28px;
  font-weight: lighter;
  font-size: 30px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 500;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 60px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temp {
  font-size: 13px;
  opacity: 0.5;
}

#icon {
  max-width: 300px;
  height: 300px;
  display: block;
  margin: -110px auto -20px;
}

#date,
#description {
  line-height: 20px;
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  display: block;
  text-align: center;
  margin-bottom: 0;
}
