body {
  font-family: arial, sans-serif;
}

h1 {
  color: #272142;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 500;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 60px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
}
