body {
  font-family: arial, sans-serif;
}

h1 {
  line-height: 28px;
  font-weight: lighter;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

a:link {
  text-decoration: none;
  color: #000;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 60px auto;
}

.weather-app {
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  border: 1px solid #f3e7e9;
  overflow: hidden;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature {
  display: flex;
  justify-content: center;
  margin-top: -60px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temp {
  font-size: 13px;
  opacity: 0.5;
}

#icon {
  max-width: 300px;
  height: 300px;
  display: block;
  margin: -130px auto -20px;
}

#date,
#description {
  line-height: 20px;
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  display: block;
  margin-bottom: 0;
}

#atmosphere {
  display: flex;
  justify-content: center;
}
